@import '../../styles/variables';
@import '../../styles/mixins';

.ant-layout-header{
  &.Header{
    height: auto;
    position: fixed;
    width: 100%;
    background: $white;
    z-index: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.Content{
  background: $white;
  min-height: 280px;
  padding-top: 174px;
  padding-bottom: 50px;
  .ContentWrapper {
    @include ContentWrapper;
    &>div{
      width: 100%;
    }
  }
}
