@import '../../styles/variables';

.AbilityInStock {
  font-size: 14px;
}
.Presence{
  font-size: 14px;
  color: $yellow;
  margin-left: 10px;
}
.Absense{
  font-size: 14px;
  color: $gray;
  margin-left: 10px;
}
