@import '../../../styles/variables';
@import '../../../styles/mixins';

.TopMenu {
  text-align: center;
  min-height: 80px;
  background: $white;
  font-size: 12px;
  z-index: 1;
  border-top: 3px solid $yellow;
  height: 82px;
  .ContentWrapper {
    @include ContentWrapper;
    .Contacts {
      .PhoneImage {
        display: inline-block;
        width: 100%;
        font-size: 42px;
        color: $yellow;
        margin-top: 10px;
        line-height: 58px;
      }
      .Phones {
        text-align: left;
        height: 100px;
        line-height: 14px;
        & > div {
          line-height: 20px;
        }
        span {
          font-size: 14px;
          display: inline-block;
        }
        a {
          font-size: 14px;
        }
      }
    }
    .UserContainer {
      & > div > div {
        line-height: 20px;
      }
      .ActionBlock {
        text-align: center;
        div {
          span {
            text-decoration: underline;
            padding-left: 6px;
          }
          .ShoppingCartImage {
            display: inline-block;
            width: 100%;
            font-size: 42px;
          }

          .AvatarImage {
            display: inline-block;
            width: 100%;
            font-size: 42px;
          }
        }
      }
    }
    .Logo {
      background: url(../../../images/logo.png) no-repeat center/contain;
      width: 150px;
      height: 80px;
      display: inline-block;
    }
  }
}
