.ProductEditView {
  .SliderBlock {

  }
  .ProductInfoBlock {
    .Rates {

    }
    .Title {
      font-size: 20px;
      h1 {
        margin-top: 10px;
        margin-bottom: 6px;
      }
    }
  }
  .Description {
    margin-bottom: 40px;
  }
  .AddToCart {
    margin-top: 20px;
  }
}
