@import './variables';

.tool-box {
  width: 100%;
  background: $light-gray2;
  padding: 6px;
  display: flex;
  border: 1px solid $light-gray3;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .yellow-button {
    margin-top: 0;
    min-width: 80px;
    padding: 6px;
  }
}
.admin-panel-title{
  padding-left: 20px;
}
ul.item-list {
  width: 100%;
  padding-left: 0;
  margin-top: 10px;
  li {
    list-style: none;
    border-top: 1px solid $light-gray3;
    padding: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &:nth-child(odd) {
      background: $light-gray2;
    }
    &:hover {
      background: $light-gray;
    }
    .item-content {
      padding-left: 10px;
      .item-date{
        margin-left: 10px;
        display: inline-block;
      }
      a {
        text-transform: uppercase;
        color: #000;
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .yellow-button {
      margin-top: 0;
      min-width: 80px;
      padding: 6px;
    }
  }
}

.form-container {
  border: 2px solid $yellow;
  margin-top: 10px;
  padding: 20px;
  .form-field {
    line-height: 26px;
    border: 2px solid #fed700;
    border-radius: 20px;
    padding-left: 12px;
    width: 300px;
  }
  .form-label {
    padding-left: 12px;
    margin-top: 4px;
    margin-bottom: 6px;
  }
  .yellow-button {
    margin-top: 20px;
    min-width: 120px;
    padding: 6px 14px;
  }
}

.pages-container {
  text-align: center;
}

.pages-container-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  .yellow-button {
    margin-top: 0;
    min-width: 120px;
    padding: 6px;
  }
}
