$gray: #979797;
$black: #000000;
$dark-gray: #464646;
$light-gray: #f3f3f3;
$light-gray2: #fdfdfd;
$light-gray3: #f1f1f1;
$light-gray4: #fdfdfd;
$light-gray5: #e2e2e2;
$light-gray6: #a2a2a2;
$white: #ffffff;
$yellow: #fed700;
$yellow2: #ffa100;
$light-yellow: #feea00;
$blue: #0062bd;
$green: #4dd026;
$light-green: #4fec27;
$light-red: #ff3535;
$light-orange: #ff8c1d;
$light-orange2: #ffb600;
$color-dark-gray: #333;
$color-white: #eee;

$block-margin-top: 30px;
